@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  background-color: #f9f9fb;
  margin: 0;
}

.carousel-item {
  height: 100vh;
  background: no-repeat center center;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

a {
  margin: 0;
}

p {
  font-weight: 400;
  margin: 0;
}

.content {
  z-index: 1;
  color: #0053ad;
  gap: 32px;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

.bachelor-enrollment {
  height: 350px;
  background-color: white;
  padding: 50px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  cursor: pointer;
}

.bachelor-line {
  margin: 16px 0;
  width: 100%;
}

.integrated-registration {
  height: 350px;
  background-color: white;
  padding: 50px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  cursor: pointer;
}

.burtgel-line {
  width: 100%;
  margin: 16px 0;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 2px 0 2px;
}

.logo-full {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  position: absolute;
}

#integrated {
  background-color: #0053ad;
  width: 40px;
  height: 40px;
  border: none;
  border: 1px solid #0053ad;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bachelor {
  background-color: #0053ad;
  width: 40px;
  height: 40px;
  border: none;
  border: 1px solid #0053ad;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

picture {
  display: flex;
  justify-content: center;
}

.bachelor-enrollment button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

@media screen and (max-width: 539px) {
  h3 {
    font-size: 16px;
    line-height: 19px;
  }

  .bachelor-enrollment {
    width: 290px;
    height: 202px;
    padding: 24px;
    transition: all 0.3s;
  }

  .integrated-registration {
    width: 290px;
    height: 275px;
    padding: 24px;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 540px) and (max-width: 750px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}


@media screen and (min-width: 751px) and (max-width: 1124px) {
  h3 {
    font-size: 20px;
  }

}

@media (max-width:650px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .logo-full {
    padding-top: 0;
  }

  .bachelor-enrollment {
    padding: 24px;
  }

  .integrated-registration {
    padding: 24px;
  }

  p {
    line-height: 21px;
  }
}

@media screen and (min-width:540px) and (max-width:650px) {
  .bachelor-enrollment {
    width: 320px;
    height: 220px;
    transition: all 0.3s;
  }

  .integrated-registration {
    width: 320px;
    height: 260px;
    transition: all 0.3s;
  }

  p {
    line-height: 19px;
  }
}

@media screen and (min-width: 651px) and (max-width: 896px) {
  .burtgel-line {
    margin: 48px 0 24px 0;
  }
}

@media screen and (min-width:896px) and (max-width: 1024px) {
  .burtgel-line {
    margin: 84px 0 24px 0;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (min-width:1025px) and (max-width: 1169px) {
  .burtgel-line {
    margin: 92px 0 24px 0;
  }

  .bachelor-line {
    margin: 32px 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
  .bachelor-enrollment {
    padding: 32px;
  }

  .integrated-registration {
    padding: 32px;
  }

  .bachelor-line {
    margin: 24px 0;
  }


}

/* @media screen and (min-width: 1115px) and (max-width: 1124px) {
  .bachelor-line {
    margin: 62px 0 24px 0;
  }
} */

/* @media screen and (min-width: 1125px) and (max-width: 1167px) {
  .burtgel-line {
    margin: 64px 0 24px 0;
  }
} */

@media (min-width: 1024px) {
  .burtgel-line {
    margin: 64px 0 24px 0;
  }

  .bachelor-line {
    margin: 32px 0;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1250px) {
  .integrated-registration {
    width: 524px;
    height: 370px;
    transition: all 0.3s;
  }

  .bachelor-enrollment {
    width: 524px;
    height: 370px;
    transition: all 0.3s;
  }

  p {
    font-size: 18px;
  }
}